---
const platform = "github"
const username = "withastro"
---

<footer
    class="pl-5 pt-5 pb-5 pr-5 bg-gray-800 text-white flex items-center
justify-between">
    <p>
        Learn more about my projects on <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p>
</footer>
