<header
    class="pl-5 pt-5 pb-5 pr-5 bg-gray-800 text-white flex items-center justify-between">
    <h1 class="text-4xl">Astro blog</h1>
    <nav class="flex space-x-7">
        <a href="/" class="text-lg hover:text-gray-300 transition-colors"
            >Home</a
        >
        <a href="/blog" class="text-lg hover:text-gray-300 transition-colors"
            >Blog</a
        >
        <a href="/about" class="text-lg hover:text-gray-300 transition-colors"
            >About</a
        >
    </nav>
</header>
